* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
}

header {
    display: flex;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: red;
    color: black;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: inline-block;
    font-size: 30px;
}

header nav {
    padding-top: 20px;
    margin-right: 20px;
    margin-left: 25px;
    padding-bottom: 11px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: black;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    background-color: gold;
}

p {
    font-size: 16px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.biography {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 1440px;
    padding: 10px;
    margin: 10px;
    background-color: black;
    color: red;
}

.hero {
    height: 200px;
    width: 1200px;
    margin-top: 10px;
    background-image: url("../images/portfolio-photo.jpg");
    background-size: cover;
    background-position: center;
}

.stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stack div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 200px;
    width: 1024px;
    background-color: black;
    margin: 30px;
    border-radius: 7%;
    flex-direction: column;
    align-content: center;
}

a {
    text-align: center;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: gold;
}

p {
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    padding: 10px;
}

.challenge-card {
    background-image: linear-gradient(rgba(5, 5, 5, 0.8), rgba(2, 1, 1, 0.453)),
        url("../images/japanese-landscape.jpeg");
}

h3 {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexbox div {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 30px;
    border-radius: 15%;
    flex-direction: column;
    align-content: center;

}

.project-card {
    background-image: linear-gradient(rgba(50, 49, 49, 0.8), rgba(56, 55, 55, 0.453)),
        url("../images/samurai-landscape.jpeg");
}

a {
    text-align: center;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: gold;
}

p {
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    padding: 10px;
}

h4 {
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.contact-info {
    display: inline-block;
    justify-content: center;
    align-self: flex-end;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    margin-left: 10px;
    background-color: black;
    color: red;
    border-radius: 30%;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    background-color: gold;
}

p {
    font-size: 16px;
    padding: 10px;
}

@media screen and (max-width: 1440px) {

    main,
    header,
    nav {
        flex-direction: column;
    }

}

@media screen and (max-width: 1024px) {

    main,
    header,
    nav {
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) {

    main,
    header,
    nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {

    main,
    header,
    nav {
        flex-direction: column;
    }
}