* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
}

header {
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: red;
    color: black;
}

header h1 {
    display: inline-block;
    font-size: 30px;
}

header nav {
    padding-top: 20px;
    margin-right: 20px;
    margin-left: 25px;
    padding-bottom: 11px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: black;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 10px;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    background-color: gold;
}

p {
    font-size: 16px;
}

main {
    max-width: 768px;
    margin: 0 auto;
}

biography {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 300px;
    padding: 48px;
    margin: 48px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexbox div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 30px;
    border-radius: 15%;

}

.project-card {
    background-image: url("../images/samurai-landscape.jpeg");
}

p {
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    padding: 10px;
}

.contact-info {
    display: inline-block;
    justify-content: center;
    align-self: flex-end;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    background-color: black;
    color: red;
    border-radius: 50%;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    background-color: gold;
}

p {
    font-size: 16px;
    padding: 10px;
}

@media screen and (max-width: 768px) {

    main,
    header,
    nav {
        flex-direction: column;
    }
}